vendor/
node_modules/
.env
.env.*
.git
tests/
*.md
build.sh
.editorconfig
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/logs/laravel.log
docker/nginx/
